{% extends "base.html" %}
{% load static %}

{% block content %}
     <!-- HEADER -->
	 <header class="masthead">
        <div class="container-fluid d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
				<h1 class="text-white mx-auto my-100 line1"><strong>Selamat Datang di Games</strong></h1>
				<h1 class="text-white mx-auto my-0"><strong>Pesawat Kertas!</strong></h1>
            </div>
        </div>
    </header>
	
<body>
	<div class="hpg-content">
	    <div class="row text-center">
	        <div class="col-md-12 text-center">
	        	<div class="col-md-8 text-center" style="padding-top: 50px;">
	        			<img src="{% static 'img/pesawat.PNG' %}">
	        	</div>
	            <h1 class="judul-kartu">Games Apa Ini?</h1>
	        </div>
	    	<div class="col-md-12 text-center">
	            <div class="card border-dark mb-3 mx-auto" style="max-width: 30rem;">
	            	<p class="card-text"></p>
	            	<h5 class="card-title isi-kartu">Pesawat Kertas adalah sebuah permainan
 										   yang diadaptasi dari permainan tradisional 
 										   masyarakat Indonesia “Catur Jawa”</h5>
					<p class="card-text"></p>
	        	</div>
	    	</div>
	    </div>
	    <div class="row text-center">
	        <div class="col-md-12 text-center">
	        	<div class="col-md-10 text-left" style="padding-top: 50px; transform: rotateY(180deg);">
	        			<img src="{% static 'img/pesawat.PNG' %}">
	        	</div>
	            <h1 class="judul-kartu">Bagaimana cara mainnya?</h1>
	        </div>
	    	<div class="col-md-12 text-center">
	            <div class="card border-dark mb-3 mx-auto" style="max-width: 30rem;">
	            	<p class="card-text"></p>
	            	<h5 class="card-title isi-kartu">- Permainan dilakukan oleh 2 orang pemain.<br>
	            	- Masing-masing pemain mendapat 3 bidak.<br>
	            	- Pemain secara bergantian menggerakkan bidak.<br>
	            	- Pergerakan satu bidak yaitu 1 langkah ke posisi <br>
	            	yang sedang tidak ditempati oleh bidak lain.<br>
    				-  Pemain yang membuat garis lurus dengan 3 bidak<br>
    				terlebih dahulu keluar sebagai pemenang<br>
    				dan permainan berakhir.<br>
    				- Tiga spot bidak pada awal permainan tidak dapat <br>
    				dijadikan tempat membuat garis lurus.</h5>
					<p class="card-text"></p>
	        	</div>
	    	</div>
	    </div>
	    <div class="row text-center">
	        <div class="col-md-12 text-center">
	        	<div class="col-md-9 text-right">
	        	</div>
	        </div>
	    	<div class="col-md-8 text-right" style="padding-top: 70px">
	    		<a class="btn btn-outline-primary badge-pill btn-lg " style="padding-right: 2rem; padding-left: 2rem; " role="button" href="">Next </a>
	    	</div>
	    </div>
		<br><br><br>
	</div>
</body>

<script>
	function openNav() {
	 	document.getElementById("mySidepanel").style.width = "150px";
	}

	function closeNav() {
	 	document.getElementById("mySidepanel").style.width = "0";
	}
</script>

{% endblock %}