body, html {
    height: 100%;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    max-height: calc(100vh - 100vh);
}

.line1 {
    line-height: 100.6; 
}

.judul-kartu{
    font-family: Open Sans;  
}

.isi-kartu{
    font-family: McLaren;  
}

.navbar {
    flex: 0 0 auto;
    background-color:rgba(48, 45, 45, 0.89) !important;
    border: 1px solid #000000;
    height: 60px;
}

.navbar .navbar-nav li a {
    color: #ffffff !important;
}

.navbar .navbar-nav li a:hover {
    color: #F56462 !important;
}

.navbar-toggler {
    background-color: #ffffff !important;
}

#myFooter {
    background-color: rgba(48, 45, 45, 0.89);
    color: white;
    padding-top: 0px;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 15px;
    height: 5px;
}

/* #myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
} */

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    border-left: 0;
    line-height: 2.2;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: white;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: #F56462;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}

.masthead{
    flex: 0 0 auto;
    position:relative;
    width:100%;
    height:auto;
    min-height:35rem;
    padding:17.4rem 0;
    background:linear-gradient(to bottom,rgba(22, 22, 22, 0.836) 0,rgba(22, 22, 22, 0.836) 75%,#1a1a1a 100%),url(../img/bg.PNG);
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-size:cover;
}

.left-plane{
    flex: 0 0 auto;
    width:100%;
    height:auto;
    background:linear-gradient(
        to bottom,rgba(22, 22, 22, 0.836) 0,
        rgba(22, 22, 22, 0.836) 75%,#1a1a1a 100%),
        url(../img/pesawat.PNG);
    background-repeat:no-repeat;
    background-attachment:scroll;
}
     
.masthead h1{
    font-size:4rem;
    line-height:4rem;
    letter-spacing:.1rem;
    --webkit-background-clip:text;
}
    
.masthead h2{
    max-width:20rem;
    font-size:1.1rem;
}

@media (min-width:768px){
    .masthead h1{
        font-size:4rem;
        line-height:3rem;
    }
}

@media (min-width:992px){
    .masthead{
        height:92vh;
    }   
    .masthead h1{
        font-size:4rem;
        line-height:3rem;
    }
    .masthead h2{
        max-width:30rem;
        font-size:1.25rem;
    }
}

.right {
    float: right;
    width: 300px;
    padding: 10px;
}

.text-turn {
    text-align: right; 
    padding-right: 15rem; 
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 2.2rem;
}

/* making board line */

.line {
    width: 30%;
    border-top: 5px solid black;
    border-color: black;
}
.vertical {
    width: 100%;
    margin-top: 35%;
    margin-left: 10%;
    margin-bottom: 5%;
    transform: rotate(90deg);
}

.horizontal {
    width: 100%;
    margin-top: 0.1%;
    margin-bottom: 5%;
}

.diagonal-left {
    width: 100%;
    margin-top: 50%;
    margin-bottom: 0%;
    transform: rotate(45deg);
}

.diagonal-right {
    width: 100%;
    margin-top: 50%;
    margin-bottom: 0%;
    transform: rotate(-45deg);
}

/* making skeleton board */
.column {
    background-color: white;
    float: left;
    width: 200px;
    padding: 0px;
    height: 200px; 
}
.column2 {
    background-color: white;
    float: left;
    width: 200px;
    padding-left: 50px;
    padding-top: 30px;
    height: 60px; 
}

.column3 {
    background-color: white;
    float: left;
    width: 58.99px;
    line-height: 200px;
    padding: 10px;
    height: 200px; 
}
/* Clear floats after the columns
.row:after {
    content: "";
    display: table;
    clear: both;
} */

.selected {
    color: white;
    background:black
}

.btn-outline-dark {
  padding: 14px 40px;
}
.skeleton-horizontal {
    padding-left:30px;
}

.skeleton-vertikal {
    padding-left:100px;
}

.w3-btn, .w3-button {
    padding: 25px 25px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }